:root {
  --white: #edeee8;
  --black: #181a16;
  --blue: #1961ad;
  --purple: #6b5d97;
  --green: #128669;
  --yellow: #f8bc2c;
  --red: #e60b21;

  --space-9: 15rem;
  --input-color: var(--black);

  --body-bg-color: var(--black);
  --body-color: var(--white);

  --columns-width: 80rem;
  --column-gutter: var(--space-1);

  --link-color: var(--white);

  --badge-font-size: var(--gap-5);
  --badge-border-radius: 2px;
  --badge-bg-color: transparent;

  --font-size: 24px;
  --font-size-small: calc(var(--font-size) * 0.6);
  --font-family: 'Elena', Helvetica, Arial, Sans-serif;
  --headings-font-family: 'Plantin', serif;

  --headings-font-size-h1: var(--space-4);
  --headings-font-size-h2: var(--space-3);
  --headings-font-size-h3: var(--space-2);
  --headings-font-weight: var(--font-weight-medium);

  --input-color: var(--white);
  --input-bg-color: var(--black);
  --input-border-color: var(--white);
  --input-focus-color: var(--white);
}

@font-face {
  font-family: 'Plantin';
  src: url('/static/fonts/plantin-typeface-revival.otf');
}

@font-face {
  font-family: 'Elena';
  src: url('/static/fonts/Elena-Regular.otf');
}
