:root {
  --white: #edeee8;
  --black: #181a16;
  --blue: #1961ad;
  --purple: #6b5d97;
  --green: #128669;
  --yellow: #f8bc2c;
  --red: #e60b21;

  --space-9: 15rem;

  --body-bg-color: var(--black);
  --body-color: var(--white);

  --columns-width: 100%;

  --link-color: var(--white);

  --badge-border-radius: 2px;

  --font-size: 18px;
  --headings-font-family: 'Spectral', serif;
  --headings-font-size-h1: var(--space-3);
  --headings-font-size-h2: var(--space-2);
  --headings-font-size-h3: var(--space-1);
  --headings-font-weight: var(--font-weight-medium);
}
